# MySQL Introduction Lab

## Lab Objectives
By the end of this lab, you will be able to:
- Connect to a MySQL database using Python
- Create databases and tables
- Insert and query data
- Understand basic MySQL concepts

## Prerequisites
- MySQL Server installed and running
- Python 3.x installed
- Basic understanding of databases

## Lab Duration
Approximately 30 minutes

## Materials Needed
- MySQL Server
- Python environment
- This Jupyter notebook

## Step-by-Step Guide

First, install the required Python package:

In [2]:
!pip install mysql-connector-python

## Step 1: Connect to MySQL

Import the MySQL connector and establish a connection to your MySQL server. Update the password with your actual MySQL root password.

In [3]:
import mysql.connector

# Connect to MySQL (update with your credentials)
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='your_password'
)
cursor = conn.cursor()
print('Connected to MySQL')

ModuleNotFoundError: No module named 'mysql'

## Step 2: Create a Database

Create a new database called 'practice_db' and switch to using it.

In [ ]:
cursor.execute('CREATE DATABASE IF NOT EXISTS practice_db')
cursor.execute('USE practice_db')
print('Database created and selected')

## Step 3: Create a Table

Create a 'users' table with columns for id, name, and email. The id is an auto-incrementing primary key.

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100)
)
''')
print('Table created')

## Step 4: Insert Data

Insert a sample user record into the users table.

In [ ]:
cursor.execute("INSERT INTO users (id, name, email) VALUES (1, 'John Doe', 'john@example.com')")
conn.commit()
print('Data inserted')

## Step 5: Query Data

Retrieve all data from the users table and display the results.

In [ ]:
cursor.execute('SELECT * FROM users')
results = cursor.fetchall()
for row in results:
    print(row)

## Step 6: Clean Up

Close the cursor and connection to free up resources.

In [ ]:
cursor.close()
conn.close()
print('Connection closed')

## Lab Summary

Congratulations! You have successfully completed the MySQL Introduction Lab. In this lab, you learned how to:

1. **Connect to MySQL**: Established a connection to your MySQL server using Python
2. **Create Database**: Created a new database for your practice work
3. **Create Table**: Designed and created a table with appropriate columns
4. **Insert Data**: Added data to your table using SQL INSERT statements
5. **Query Data**: Retrieved data using SQL SELECT statements
6. **Clean Up**: Properly closed database connections

## Key Concepts Learned
- Database connection using mysql.connector
- SQL CREATE DATABASE and USE statements
- Table creation with CREATE TABLE
- Data insertion with INSERT INTO
- Data retrieval with SELECT
- Connection management (cursor and connection objects)

## Next Steps
- Proceed to the Installation Lab to learn about MySQL setup
- Practice creating more complex tables with different data types
- Experiment with different SQL queries

## Exercise
Try creating your own table with different columns and inserting multiple rows of data. What happens if you try to insert data that doesn't match your table structure?