# SQL Functions and Transactions Lab

## Lab Objectives
By the end of this lab, you will be able to:
- Use various SQL functions for data manipulation
- Understand transaction concepts and ACID properties
- Control transaction behavior with COMMIT and ROLLBACK
- Apply functions in real-world scenarios

## Prerequisites
- MySQL Server installed and running
- Python 3.x with mysql-connector-python
- Understanding of basic SQL queries
- Knowledge of table operations

## Lab Duration
Approximately 75 minutes

## Materials Needed
- MySQL Server
- Python environment
- This Jupyter notebook

## SQL Functions Overview

### Aggregate Functions
- **COUNT()**: Count rows or non-NULL values
- **SUM()**: Sum numeric values
- **AVG()**: Calculate average
- **MIN()**: Find minimum value
- **MAX()**: Find maximum value

### String Functions
- **CONCAT()**: Join strings
- **SUBSTRING()**: Extract part of string
- **UPPER()/LOWER()**: Change case
- **LENGTH()**: Get string length

### Date/Time Functions
- **NOW()**: Current date and time
- **DATE()**: Extract date part
- **DATEDIFF()**: Calculate date difference

### Mathematical Functions
- **ABS()**: Absolute value
- **ROUND()**: Round numbers
- **CEIL()/FLOOR()**: Round up/down

### Control Flow Functions
- **IF()**: Conditional logic
- **CASE**: Multiple conditions
- **COALESCE()**: Handle NULL values

## Transactions Overview
- **ACID Properties**: Atomicity, Consistency, Isolation, Durability
- **Auto-commit**: Default MySQL behavior
- **Manual Transactions**: START TRANSACTION, COMMIT, ROLLBACK

## Step-by-Step Guide

First, install the required Python package:

In [ ]:
!pip install mysql-connector-python

## Step 1: Connect to MySQL

Connect to MySQL and create a practice database.

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='your_password'
)
cursor = conn.cursor()
cursor.execute('CREATE DATABASE IF NOT EXISTS functions_lab')
cursor.execute('USE functions_lab')
print('Database ready for functions and transactions practice')

## Step 2: Create Sample Data

Create tables and insert sample data for practicing functions.

In [ ]:
# Create employees table
cursor.execute('''
CREATE TABLE employees (
    employee_id INT PRIMARY KEY AUTO_INCREMENT,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    department VARCHAR(50),
    salary DECIMAL(10, 2),
    hire_date DATE,
    email VARCHAR(100)
)
''')
print('Employees table created')

In [ ]:
# Insert sample employee data
employees_data = [
    ('John', 'Doe', 'Sales', 50000.00, '2020-01-15', 'john.doe@company.com'),
    ('Jane', 'Smith', 'Marketing', 55000.00, '2019-03-20', 'jane.smith@company.com'),
    ('Bob', 'Johnson', 'IT', 60000.00, '2018-07-10', 'bob.johnson@company.com'),
    ('Alice', 'Williams', 'Sales', 48000.00, '2021-02-28', 'alice.williams@company.com'),
    ('Charlie', 'Brown', 'HR', 52000.00, '2019-11-05', 'charlie.brown@company.com')
]

cursor.executemany('''
INSERT INTO employees (first_name, last_name, department, salary, hire_date, email)
VALUES (%s, %s, %s, %s, %s, %s)
''', employees_data)
conn.commit()
print(f'{cursor.rowcount} employees inserted')

## Step 3: Practice Aggregate Functions

Use COUNT, SUM, AVG, MIN, MAX functions.

In [ ]:
# COUNT: Total employees
cursor.execute('SELECT COUNT(*) as total_employees FROM employees')
result = cursor.fetchone()
print(f'Total employees: {result[0]}')

# COUNT with condition
cursor.execute('SELECT COUNT(*) as sales_staff FROM employees WHERE department = "Sales"')
result = cursor.fetchone()
print(f'Sales department staff: {result[0]}')

In [ ]:
# SUM and AVG: Salary statistics
cursor.execute('SELECT SUM(salary) as total_payroll, AVG(salary) as avg_salary FROM employees')
result = cursor.fetchone()
print(f'Total payroll: ${result[0]:,.2f}')
print(f'Average salary: ${result[1]:,.2f}')

# MIN and MAX
cursor.execute('SELECT MIN(salary) as lowest, MAX(salary) as highest FROM employees')
result = cursor.fetchone()
print(f'Salary range: ${result[0]:,.2f} - ${result[1]:,.2f}')

In [ ]:
# GROUP BY with aggregates
cursor.execute('''
SELECT department, COUNT(*) as count, ROUND(AVG(salary), 2) as avg_salary
FROM employees
GROUP BY department
ORDER BY avg_salary DESC
''')
results = cursor.fetchall()
print('\nDepartment Statistics:')
print('Department\t\tCount\tAvg Salary')
print('-' * 40)
for row in results:
    print(f'{row[0]}\t\t{row[1]}\t${row[2]:,.2f}')

## Step 4: Practice String Functions

Use CONCAT, UPPER, LOWER, SUBSTRING, LENGTH functions.

In [ ]:
# CONCAT: Create full names
cursor.execute('SELECT CONCAT(first_name, " ", last_name) as full_name FROM employees LIMIT 3')
results = cursor.fetchall()
print('Full names:')
for row in results:
    print(f'  {row[0]}')

In [ ]:
# String case conversion
cursor.execute('SELECT first_name, UPPER(first_name) as upper, LOWER(first_name) as lower FROM employees LIMIT 3')
results = cursor.fetchall()
print('\nCase conversion:')
for row in results:
    print(f'  {row[0]} -> {row[1]} / {row[2]}')

In [ ]:
# SUBSTRING and LENGTH
cursor.execute('''
SELECT email,
       SUBSTRING(email, 1, LOCATE('@', email) - 1) as username,
       LENGTH(email) as email_length
FROM employees
LIMIT 3
''')
results = cursor.fetchall()
print('\nEmail parsing:')
for row in results:
    print(f'  {row[0]} -> Username: {row[1]}, Length: {row[2]}')

## Step 5: Practice Date Functions

Use NOW, DATE, DATEDIFF functions.

In [ ]:
# Current date and time
cursor.execute('SELECT NOW() as current_datetime, DATE(NOW()) as today')
result = cursor.fetchone()
print(f'Current datetime: {result[0]}')
print(f'Today: {result[1]}')

In [ ]:
# Calculate days employed
cursor.execute('''
SELECT first_name, last_name, hire_date,
       DATEDIFF(NOW(), hire_date) as days_employed,
       ROUND(DATEDIFF(NOW(), hire_date) / 365, 1) as years_employed
FROM employees
ORDER BY hire_date
''')
results = cursor.fetchall()
print('\nEmployee tenure:')
for row in results:
    print(f'  {row[0]} {row[1]}: {row[3]} days ({row[4]} years)')

## Step 6: Practice Control Flow Functions

Use IF, CASE, and COALESCE functions.

In [ ]:
# IF function for conditional logic
cursor.execute('''
SELECT first_name, salary,
       IF(salary > 55000, 'High Earner', 'Regular') as category
FROM employees
''')
results = cursor.fetchall()
print('Salary categories:')
for row in results:
    print(f'  {row[0]}: ${row[1]:,.2f} - {row[2]}')

In [ ]:
# CASE function for multiple conditions
cursor.execute('''
SELECT first_name, department,
CASE department
    WHEN 'Sales' THEN 'Revenue Team'
    WHEN 'IT' THEN 'Tech Team'
    WHEN 'HR' THEN 'People Team'
    WHEN 'Marketing' THEN 'Brand Team'
    ELSE 'Other Team'
END as team_name
FROM employees
''')
results = cursor.fetchall()
print('\nDepartment teams:')
for row in results:
    print(f'  {row[0]} ({row[1]}) -> {row[2]}')

## Step 7: Practice Transactions

Learn to use START TRANSACTION, COMMIT, and ROLLBACK.

In [ ]:
# Disable auto-commit for manual transaction control
cursor.execute('SET autocommit = 0')
print('Auto-commit disabled for manual transaction control')

In [ ]:
# Start a transaction
cursor.execute('START TRANSACTION')
print('Transaction started')

# Insert new employee
cursor.execute('''
INSERT INTO employees (first_name, last_name, department, salary, hire_date, email)
VALUES ('David', 'Wilson', 'Finance', 58000.00, '2024-02-01', 'david.wilson@company.com')
''')
print('New employee inserted (not yet committed)')

# Check current count
cursor.execute('SELECT COUNT(*) FROM employees')
count = cursor.fetchone()[0]
print(f'Current employee count: {count}')

# Commit the transaction
conn.commit()
print('Transaction committed - changes are permanent')

In [ ]:
# Demonstrate rollback (commented to avoid actual rollback)
print('\nDemonstrating transaction rollback concept:')
print('1. START TRANSACTION')
print('2. Make changes')
print('3. If error occurs: ROLLBACK (undoes all changes)')
print('4. If successful: COMMIT (saves all changes)')

# Re-enable auto-commit
cursor.execute('SET autocommit = 1')
print('\nAuto-commit re-enabled')

## Step 8: Complex Query with Multiple Functions

Combine various functions in a comprehensive report.

In [ ]:
# Complex query combining multiple functions
cursor.execute('''
SELECT
    department,
    COUNT(*) as employee_count,
    CONCAT('$', FORMAT(AVG(salary), 2)) as avg_salary,
    CONCAT('$', FORMAT(MIN(salary), 2)) as min_salary,
    CONCAT('$', FORMAT(MAX(salary), 2)) as max_salary,
    ROUND(AVG(DATEDIFF(NOW(), hire_date) / 365), 1) as avg_tenure_years
FROM employees
GROUP BY department
ORDER BY AVG(salary) DESC
''')

results = cursor.fetchall()
print('Department Summary Report:')
print('=' * 80)
print(f"{'Department':<12} {'Count':<6} {'Avg Salary':<12} {'Min':<10} {'Max':<10} {'Avg Tenure'}")
print('-' * 80)
for row in results:
    print(f'{row[0]:<12} {row[1]:<6} {row[2]:<12} {row[3]:<10} {row[4]:<10} {row[5]} years')

## Step 9: Clean Up

Close the database connection.

In [ ]:
cursor.close()
conn.close()
print('Database connection closed')

## Lab Summary

Outstanding! You have successfully completed the SQL Functions and Transactions Lab. In this lab, you mastered:

1. **Aggregate Functions**: COUNT, SUM, AVG, MIN, MAX with GROUP BY
2. **String Functions**: CONCAT, UPPER/LOWER, SUBSTRING, LENGTH
3. **Date Functions**: NOW, DATE, DATEDIFF for date calculations
4. **Control Flow Functions**: IF, CASE, COALESCE for conditional logic
5. **Transaction Management**: START TRANSACTION, COMMIT, ROLLBACK
6. **Complex Queries**: Combining multiple functions for comprehensive reports

## Key Concepts Learned
- **ACID Properties**: Atomicity, Consistency, Isolation, Durability
- **Auto-commit Mode**: Default MySQL behavior vs manual control
- **Function Categories**: Aggregate, String, Date, Math, Control Flow
- **Transaction Safety**: Ensuring data integrity with proper commit/rollback
- **Query Optimization**: Using functions efficiently in SELECT statements

## Best Practices
- Use transactions for multi-step operations that must succeed together
- Always COMMIT successful transactions and ROLLBACK on errors
- Test complex queries with sample data first
- Use appropriate functions for data type (string vs numeric vs date)
- Consider performance impact of functions on large datasets

## Advanced Topics to Explore
- Window functions (ROW_NUMBER, RANK, LAG, LEAD)
- User-defined functions
- Stored procedures with transaction handling
- Performance optimization with function-based indexes
- JSON functions for document data

## Next Steps
- Practice with real datasets and complex business requirements
- Learn about database indexing and query optimization
- Explore advanced MySQL features like triggers and events
- Build complete applications with proper transaction handling

## Final Exercise
Create a comprehensive sales report that includes:
1. Total sales by month using date functions
2. Top-performing products using aggregate functions
3. Customer segmentation using CASE statements
4. Data validation using various functions
5. Implement proper transaction handling for order processing

Remember: Functions and transactions are powerful tools for data manipulation and integrity - use them wisely!