# Data Types and Constraints Lab

## Lab Objectives
By the end of this lab, you will be able to:
- Create tables with various MySQL data types
- Implement different types of constraints
- Understand how constraints enforce data integrity
- Handle constraint violations appropriately

## Prerequisites
- MySQL Server installed and running
- Python 3.x with mysql-connector-python
- Basic SQL knowledge (CREATE TABLE, INSERT, SELECT)

## Lab Duration
Approximately 45 minutes

## Materials Needed
- MySQL Server
- Python environment
- This Jupyter notebook

## Data Types Overview
- **Numeric**: INT, FLOAT, DECIMAL, DOUBLE
- **String**: VARCHAR, CHAR, TEXT, BLOB
- **Date/Time**: DATE, DATETIME, TIMESTAMP, TIME
- **Other**: BOOLEAN, ENUM, SET

## Constraints Overview
- **NOT NULL**: Prevents NULL values
- **UNIQUE**: Ensures unique values
- **PRIMARY KEY**: Unique identifier (NOT NULL + UNIQUE)
- **FOREIGN KEY**: References another table
- **CHECK**: Validates data against a condition
- **DEFAULT**: Provides default values

## Step-by-Step Guide

First, install the required Python package:

In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='your_password'
)
cursor = conn.cursor()
cursor.execute('CREATE DATABASE IF NOT EXISTS practice_types')
cursor.execute('USE practice_types')
print('Database ready')

## Step 3: Create a Table with Various Data Types

Create a products table with different data types and constraints like CHECK and ENUM.

## Step 2: Connect to MySQL

Connect to MySQL and create a practice database.

In [ ]:
cursor.execute('''
CREATE TABLE products (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    price DECIMAL(10, 2) CHECK (price > 0),
    quantity INT DEFAULT 0,
    description TEXT,
    created_date DATE,
    in_stock BOOLEAN DEFAULT TRUE,
    category ENUM('electronics', 'books', 'clothing') NOT NULL
)
''')
print('Table created successfully')

## Step 4: Insert Sample Data

Insert some sample products with different data types.

In [ ]:
products_data = [
    ('Laptop', 999.99, 10, 'High-performance laptop', '2024-01-15', True, 'electronics'),
    ('Python Book', 29.99, 50, 'Learn Python programming', '2024-01-10', True, 'books'),
    ('T-Shirt', 15.99, 100, 'Cotton t-shirt', '2024-01-20', True, 'clothing')
]

cursor.executemany('''
INSERT INTO products (name, price, quantity, description, created_date, in_stock, category)
VALUES (%s, %s, %s, %s, %s, %s, %s)
''', products_data)
conn.commit()
print('Data inserted')

## Step 5: Query the Data

Retrieve and display all products from the table.

In [ ]:
cursor.execute('SELECT * FROM products')
results = cursor.fetchall()
for row in results:
    print(row)

## Step 6: Test Constraints

Try inserting invalid data to see how constraints work (this should fail due to CHECK constraint).

In [ ]:
try:
    cursor.execute("INSERT INTO products (name, price, category) VALUES ('Invalid Product', -10.00, 'electronics')")
    conn.commit()
    print('Insert succeeded (unexpected)')
except mysql.connector.Error as err:
    print(f'Insert failed as expected: {err}')

In [ ]:
cursor.close()
conn.close()
print('Practice completed')

## Lab Summary

Excellent work! You have successfully completed the Data Types and Constraints Lab. In this lab, you learned how to:

1. **Choose Appropriate Data Types**: Selected the right data types for different kinds of data
2. **Implement Constraints**: Used various constraints to maintain data integrity
3. **Handle Constraint Violations**: Understood how MySQL handles invalid data
4. **Design Robust Tables**: Created tables that prevent common data entry errors

## Key Concepts Learned
- **Data Type Selection**: Choosing VARCHAR vs CHAR, INT vs DECIMAL, etc.
- **Constraint Types**: NOT NULL, UNIQUE, PRIMARY KEY, CHECK, DEFAULT
- **ENUM and SET**: Using predefined value lists
- **AUTO_INCREMENT**: Automatic ID generation
- **Error Handling**: Dealing with constraint violations

## Best Practices
- Always specify NOT NULL for required fields
- Use appropriate data types to save storage space
- Implement CHECK constraints for business rules
- Use meaningful default values
- Test constraints with invalid data

## Next Steps
- Move to the Basic Operations Lab
- Learn about indexes for performance
- Study normalization principles
- Explore advanced constraints like foreign keys

## Exercise
Design and create a table for a library system with the following requirements:
- Books with title, author, ISBN, publication year
- Members with name, email, membership date
- Loans tracking which member borrowed which book and when
Include appropriate data types and constraints for each table.