# Basic CRUD Operations Lab

## Lab Objectives
By the end of this lab, you will be able to:
- Perform Create, Read, Update, and Delete operations in MySQL
- Use various SELECT query techniques
- Understand transaction concepts
- Practice safe database operations

## Prerequisites
- MySQL Server installed and running
- Python 3.x with mysql-connector-python
- Understanding of data types and constraints
- Basic SQL knowledge

## Lab Duration
Approximately 60 minutes

## Materials Needed
- MySQL Server
- Python environment
- This Jupyter notebook

## CRUD Operations Overview
- **CREATE**: INSERT new records into tables
- **READ**: SELECT data from tables with various conditions
- **UPDATE**: Modify existing records
- **DELETE**: Remove records from tables

## Important Safety Notes
- Always backup data before UPDATE/DELETE operations
- Use WHERE clauses to avoid affecting all records
- Test queries on sample data first
- Use transactions for multi-step operations

## Step-by-Step Guide

First, install the required Python package:

In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='your_password'
)
cursor = conn.cursor()
cursor.execute('CREATE DATABASE IF NOT EXISTS crud_practice')
cursor.execute('USE crud_practice')
print('Database ready for CRUD practice')

## Step 3: Create a Table

Create a books table with columns for id, title, author, price, published_year, and in_stock status.

## Step 2: Connect to MySQL

Connect to MySQL and create a practice database.

In [ ]:
cursor.execute('''
CREATE TABLE books (
    id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(200) NOT NULL,
    author VARCHAR(100),
    price DECIMAL(8, 2),
    published_year INT,
    in_stock BOOLEAN DEFAULT TRUE
)
''')
print('Books table created')

## Step 4: INSERT - Add Books

Insert multiple book records into the table using executemany for efficiency.

In [ ]:
books = [
    ('The Great Gatsby', 'F. Scott Fitzgerald', 12.99, 1925, True),
    ('To Kill a Mockingbird', 'Harper Lee', 14.99, 1960, True),
    ('1984', 'George Orwell', 13.99, 1949, False),
    ('Pride and Prejudice', 'Jane Austen', 11.99, 1813, True)
]

cursor.executemany('''
INSERT INTO books (title, author, price, published_year, in_stock)
VALUES (%s, %s, %s, %s, %s)
''', books)
conn.commit()
print(f'{cursor.rowcount} books inserted')

## Step 5: READ - Query Books

Retrieve and display all books from the table.

In [ ]:
# Select all books
cursor.execute('SELECT * FROM books')
all_books = cursor.fetchall()
print('All books:')
for book in all_books:
    print(book)
print()

In [ ]:
# Select books in stock
cursor.execute('SELECT title, author FROM books WHERE in_stock = TRUE')
in_stock_books = cursor.fetchall()
print('Books in stock:')
for book in in_stock_books:
    print(f'{book[0]} by {book[1]}')
print()

## Step 7: UPDATE - Modify Book Data

Update the price and stock status of '1984'.

In [ ]:
# Select books ordered by price
cursor.execute('SELECT title, price FROM books ORDER BY price DESC')
priced_books = cursor.fetchall()
print('Books by price (descending):')
for book in priced_books:
    print(f'{book[0]}: ${book[1]}')
print()

## Step 9: Final Check

Query the remaining books after the delete operation.

## Step 6: READ - Query with Conditions

Query books that are in stock and books ordered by price.

In [ ]:
# Update price of 1984
cursor.execute('UPDATE books SET price = 15.99, in_stock = TRUE WHERE title = "1984"')
conn.commit()
print('Updated 1984 price and stock status')

# Check the update
cursor.execute('SELECT title, price, in_stock FROM books WHERE title = "1984"')
updated_book = cursor.fetchone()
print(f'Updated book: {updated_book}')
print()

## Step 8: DELETE - Remove a Book

Delete 'Pride and Prejudice' from the table.

In [ ]:
# Delete Pride and Prejudice
cursor.execute('DELETE FROM books WHERE title = "Pride and Prejudice"')
conn.commit()
print('Deleted Pride and Prejudice')

# Check remaining books
cursor.execute('SELECT COUNT(*) FROM books')
count = cursor.fetchone()[0]
print(f'Remaining books: {count}')
print()

## Step 10: Clean Up

Close the database connection.

In [ ]:
cursor.execute('SELECT * FROM books')
final_books = cursor.fetchall()
print('Final book list:')
for book in final_books:
    print(book)

In [ ]:
cursor.close()
conn.close()
print('CRUD practice completed!')

## Lab Summary

Outstanding! You have successfully completed the Basic CRUD Operations Lab. In this lab, you mastered the fundamental database operations:

1. **CREATE (INSERT)**: Added multiple records efficiently using executemany()
2. **READ (SELECT)**: Queried data with various conditions and sorting
3. **UPDATE**: Modified existing records safely
4. **DELETE**: Removed records with proper WHERE conditions

## Key Concepts Learned
- **INSERT syntax**: Single and multiple record insertion
- **SELECT variations**: Basic queries, WHERE conditions, ORDER BY
- **UPDATE with WHERE**: Safe modification of specific records
- **DELETE with WHERE**: Controlled record removal
- **Connection management**: Proper cursor and connection handling
- **Data integrity**: Understanding the impact of operations

## SQL Best Practices
- Always use WHERE clauses for UPDATE and DELETE
- Test queries on development data first
- Use transactions for related operations
- Close connections when done
- Handle errors gracefully

## Advanced Topics to Explore
- JOIN operations for multiple tables
- Aggregate functions (COUNT, SUM, AVG)
- Subqueries and complex conditions
- Indexing for performance
- Stored procedures and triggers

## Next Steps
- Continue with advanced MySQL topics
- Build a complete application with database backend
- Learn about database design and normalization
- Explore MySQL administration and optimization

## Final Exercise
Create a complete book management system:
1. Design tables for books, authors, and categories
2. Insert sample data for each table
3. Write queries to:
   - Find all books by a specific author
   - Update book prices
   - Delete books published before a certain year
   - Generate reports on book inventory

Remember to always backup your data and test operations carefully!