# MySQL Constraints Lab

## Lab Objectives
By the end of this lab, you will be able to:
- Understand different types of MySQL constraints
- Implement constraints in table creation
- Apply constraints to existing tables
- Handle constraint violations appropriately

## Prerequisites
- MySQL Server installed and running
- Python 3.x with mysql-connector-python
- Understanding of basic table creation
- Knowledge of data types

## Lab Duration
Approximately 60 minutes

## Materials Needed
- MySQL Server
- Python environment
- This Jupyter notebook

## Constraint Types Overview
- **NOT NULL**: Prevents NULL values
- **UNIQUE**: Ensures unique values
- **PRIMARY KEY**: Unique identifier (NOT NULL + UNIQUE)
- **FOREIGN KEY**: Maintains referential integrity
- **CHECK**: Validates data against conditions
- **DEFAULT**: Provides default values
- **AUTO_INCREMENT**: Generates unique numbers automatically

## Important Notes
- Constraints help maintain data integrity
- Some constraints can be added to existing tables
- Constraint violations prevent invalid data entry
- Use ALTER TABLE to modify constraints

## Step-by-Step Guide

First, install the required Python package:

In [ ]:
!pip install mysql-connector-python

## Step 1: Connect to MySQL

Connect to MySQL and create a practice database.

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='your_password'
)
cursor = conn.cursor()
cursor.execute('CREATE DATABASE IF NOT EXISTS constraints_lab')
cursor.execute('USE constraints_lab')
print('Database ready for constraints practice')

## Step 2: Create Tables with Constraints

Create tables demonstrating different constraint types.

In [ ]:
# NOT NULL and PRIMARY KEY constraints
cursor.execute('''
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL
)
''')
print('Customers table created with NOT NULL and PRIMARY KEY constraints')

In [ ]:
# UNIQUE constraint
cursor.execute('''
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(100) NOT NULL,
    sku VARCHAR(50) UNIQUE,
    price DECIMAL(10, 2)
)
''')
print('Products table created with UNIQUE constraint on SKU')

In [ ]:
# CHECK and DEFAULT constraints
cursor.execute('''
CREATE TABLE orders (
    order_id INT PRIMARY KEY AUTO_INCREMENT,
    customer_id INT,
    order_date DATE DEFAULT (CURRENT_DATE),
    total_amount DECIMAL(10, 2) CHECK (total_amount > 0),
    status VARCHAR(20) DEFAULT 'pending',
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
)
''')
print('Orders table created with CHECK, DEFAULT, AUTO_INCREMENT, and FOREIGN KEY constraints')

## Step 3: Insert Valid Data

Insert data that complies with all constraints.

In [ ]:
# Insert customers
customers_data = [
    (1, 'John', 'Doe', 'john.doe@email.com'),
    (2, 'Jane', 'Smith', 'jane.smith@email.com'),
    (3, 'Bob', 'Johnson', 'bob.johnson@email.com')
]

cursor.executemany('''
INSERT INTO customers (customer_id, first_name, last_name, email)
VALUES (%s, %s, %s, %s)
''', customers_data)
conn.commit()
print(f'{cursor.rowcount} customers inserted successfully')

In [ ]:
# Insert products
products_data = [
    (1, 'Laptop', 'LT-001', 999.99),
    (2, 'Mouse', 'MS-001', 29.99),
    (3, 'Keyboard', 'KB-001', 79.99)
]

cursor.executemany('''
INSERT INTO products (product_id, product_name, sku, price)
VALUES (%s, %s, %s, %s)
''', products_data)
conn.commit()
print(f'{cursor.rowcount} products inserted successfully')

In [ ]:
# Insert orders (using AUTO_INCREMENT and DEFAULT)
cursor.execute('''
INSERT INTO orders (customer_id, total_amount)
VALUES (1, 1029.98)
''')
conn.commit()
print('Order inserted with AUTO_INCREMENT and DEFAULT values')

## Step 4: Test Constraint Violations

Try inserting invalid data to see how constraints work.

In [ ]:
# Test NOT NULL violation
try:
    cursor.execute("INSERT INTO customers (customer_id, first_name, email) VALUES (4, 'Test', 'test@email.com')")
    conn.commit()
    print('NOT NULL violation test: Unexpected success')
except mysql.connector.Error as err:
    print(f'NOT NULL violation test: Expected error - {err}')

In [ ]:
# Test UNIQUE violation
try:
    cursor.execute("INSERT INTO products (product_id, product_name, sku, price) VALUES (4, 'Duplicate SKU', 'LT-001', 499.99)")
    conn.commit()
    print('UNIQUE violation test: Unexpected success')
except mysql.connector.Error as err:
    print(f'UNIQUE violation test: Expected error - {err}')

In [ ]:
# Test CHECK violation
try:
    cursor.execute("INSERT INTO orders (customer_id, total_amount) VALUES (2, -100.00)")
    conn.commit()
    print('CHECK violation test: Unexpected success')
except mysql.connector.Error as err:
    print(f'CHECK violation test: Expected error - {err}')

In [ ]:
# Test FOREIGN KEY violation
try:
    cursor.execute("INSERT INTO orders (customer_id, total_amount) VALUES (999, 50.00)")
    conn.commit()
    print('FOREIGN KEY violation test: Unexpected success')
except mysql.connector.Error as err:
    print(f'FOREIGN KEY violation test: Expected error - {err}')

## Step 5: Query and Verify Data

Check that all valid data was inserted correctly.

In [ ]:
# Query all tables
tables = ['customers', 'products', 'orders']
for table in tables:
    cursor.execute(f'SELECT * FROM {table}')
    results = cursor.fetchall()
    print(f'\n{table.upper()} table:')
    for row in results:
        print(row)

## Step 6: Clean Up

Close the database connection.

In [ ]:
cursor.close()
conn.close()
print('Database connection closed')

## Lab Summary

Congratulations! You have successfully completed the MySQL Constraints Lab. In this lab, you learned how to:

1. **Implement Various Constraints**: Created tables with NOT NULL, UNIQUE, PRIMARY KEY, FOREIGN KEY, CHECK, DEFAULT, and AUTO_INCREMENT constraints
2. **Handle Constraint Violations**: Understood how MySQL prevents invalid data entry
3. **Test Constraint Behavior**: Practiced inserting both valid and invalid data
4. **Maintain Data Integrity**: Learned how constraints protect database integrity

## Key Concepts Learned
- **NOT NULL**: Prevents NULL values in required fields
- **UNIQUE**: Ensures no duplicate values in specified columns
- **PRIMARY KEY**: Unique row identifier combining NOT NULL and UNIQUE
- **FOREIGN KEY**: Maintains relationships between tables
- **CHECK**: Validates data against custom conditions
- **DEFAULT**: Provides automatic values when none specified
- **AUTO_INCREMENT**: Generates unique sequential numbers

## Best Practices
- Always define constraints during table creation when possible
- Use meaningful constraint names for better error messages
- Test constraints with invalid data to ensure they work as expected
- Consider performance impact of constraints on large tables
- Document constraints for future maintenance

## Next Steps
- Explore advanced constraint scenarios
- Learn about indexes for performance
- Study database normalization principles
- Practice with real-world database design

## Exercise
Design a database schema for a library management system with the following requirements:
1. Books table with unique ISBNs
2. Members table with unique email addresses
3. Loans table linking books to members with due dates
4. Appropriate constraints to prevent:
   - Books with no title or author
   - Duplicate ISBNs
   - Invalid loan dates
   - Loans to non-existent members

Remember: Constraints are your database's first line of defense against bad data!